

{% block title %} <title> Semaphores and Synchronization </title> {% endblock %}

{% block links %}
{% load static %}
<link href="{%static 'sockets/styles.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}


{% block content %}

<h1>Semaphores</h1>
<div id="choice">
    <ul id="ulchoice">
        <a href="/synchro/semaphores/demo/1/"><li id="lichoice">Producer Consumer Problem</li></a>
        <a href="/synchro/semaphores/demo/2/"><li id="lichoice">Reader Writer Problem</li></a>
        <a href="/synchro/semaphores/demo/3/"><li id="lichoice">Dining Philosophers Problem</li></a>
        <a href="/synchro/semaphores/demo/4/"><li id="lichoice">Sleeping Barber Problem</li></a>

    </ul>
</div>
<!-- <div class="main-container">
{% for alg in algos %}
  {% if alg.demourl|stringformat:"s" == "sem"  %}
    <div class="alg-container">
      <div class="alg-name">  {{alg.name}} </div>
      <div class="alg-description">
        {{alg.description}}
      </div>
    <a href="/synchro/semaphores/demo/{{forloop.counter}}/" class="btn btn-primary">Demo</a>
    </div>
    <br>
  {% endif %}
{% endfor %}
</div>
{% endblock %} -->
