<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Login</title>
        {% load static %}
                <link rel="stylesheet" type="text/css" href="{% static 'home/assets/css/login.css' %}" />


        <script type="text/javascript" src="{% static 'home/assets/js/login.js' %}"></script>
        <script type="text/javascript" src="{% static 'home/assets/js/jquery-3.2.1.js' %}"></script>



    </head>
    <body>
        <div id="loginDiv">
            <table>
                <tr>
                    <td>User name: </td>
                    <td><input type="text" id="user_name" /></td>
                </tr>
                <tr>
                    <td>Password: </td>
                    <td><input type="password" id="password" /></td>
                </tr>
            </table>
            <input id="loginBtn" type="button" value="Login"/>
        </div>




    </body>
</html>