{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
  <title>
    Process
  </title>
  <script type='text/javascript' src='{% static 'js/inputpri.js' %}'></script>
  <script type='text/javascript' src='{% static 'js/displaypri.js' %}'></script>
  <link rel="stylesheet" href='{% static 'css/demo1.css' %}'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>


<body  style="background-image: url('https://i.pinimg.com/originals/9d/4d/07/9d4d07ca7d591bb3cd3d9f4df2624bbf.jpg"  >
    <div class="" style="opacity:0.8"><h1 style="text-align:center;text-align: center;text-shadow: 1px 1px blue">
      <b style="color:white">Priority Process Scheduling</b>
      </h1>
    </div>
    <div class="container" style="color:white">
      <div class="col-lg-6">
        <div class="container">

          <div id="output">
          </div>
          <br>
          <div class="card" style="height:50px;">
              <div style="width:250px;float:left;text-align:left;color:grey;position: absolute;margin-left:500px;top:110px">
                Enter arrival time:
                <input style="width:200px;"id="newarrivaltime" class="form-control" type="text" value=""></input>
              </div>
              <div style="width:300px;float:left;text-align:left;color:grey;position:absolute;margin-left:850px;top:110px">
                Enter burst time:
                <input style="width:200px;float:left;" id="newbursttime" class="form-control" type="text" value=""></input>
              </div>
              <div style="width:300px;float:left;text-align:left;color:grey;position: absolute;margin-left: 1200px;top:110px">
                Enter Priority:
                <br>
                <input style="width:200px;float:left;" id="newPriority" class="form-control" type="text" value=""></input>
                <button class="btn btn-success" onclick="addToList()" style="float:left;margin-left:10px;color:white;background-color: grey">Add</button>
              </div>
              <div style="float:left;color:grey;position: relative;bottom:10px;left:550px">
                <label for="sel1" style="float:left;">Select Algorithm to be used :</label>
                  <br>
                <select class="form-control" id="sel1" style="width:400px;background-color: grey;color:white">
                  <option>Preemptive Priority(PP)</option>
                  <option>Non-preemptive Priority(NPP)</option>
                </select>
              </div>
          </div>


        </div>

        <div class="panel-footer" style="height:50px;">
        	<button style="float:right;position: absolute;left:700px;background-color: #33CC00;color: white" id="sender" class="btn btn-primary">Send the entire data</button>
        </div>
      </div>
      <div class="col-lg-6"></div>
    </div>

    <div class="panel panel-success" style="width:50%;float:left;">
      <div class="panel-heading">
      	<h3>Operations Taking Place</h3>
      </div>
      <div id="comments" class="panel-content">
      </div>
    </div>
    <div class="panel panel-danger" style="width:50%;float:left;">
      <div class="panel-heading">
      	<h3><b>Table</b></h3>
      </div>
    <div class="panel-content">
      <table id="ptab" class="table table-bordered">
        <thead>
     	    <tr id="thead">
           	<th>PNO.</th>
            <th>Priority</th>
          	<th>Arrival time</th>
          	<th>Burst time</th>
          	<th>Completion time</th>
          	<th>Waiting time</th>
          	<th>Turn-around time</th>
          </tr>
          <tbody id="ptable">

          </tbody>
        </thead>
      </table>
    	</div>
    </div>
    <hr>
    <div class="container" style="background-color: white;opacity:0.9;margin-bottom: 20px">
        <div class="panel-heading">
          <h3>
          Gantt chart
          </h3>
        </div>
        <div id="gantth"></div>
        <br>
        <div id="outer-div">
        </div>
        <br>
    </div>
</body>
</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript">
    $('#sender').click(function(){
    var text = JSON.stringify(stuff);
    var alg = JSON.stringify($("#sel1").val().split("(")[1].split(")")[0])
    //console.log(text);
    $.post('/process/gateway/',{value:text, algo:alg}, function(result){
      sequence = result["gantt"];
      a = result["table"]
      avgwt =0;
      avgtat =0;
      for(i=0;i<a.length;++i){
        avgwt += a[i].wt;
        avgtat += a[i].tat;
      }
      total = sequence.length;
      pixel = 0;
      i = 0;
      $('#outer-div,#comments,#ptable,#gantth').empty();
      // $('#thead').append('<th>PNO.</th> <th>Arrival time</th>  <th>Burst time</th>  <th>Completion time</th>  <th>Waiting time</th>  <th>Turn-around time</th>');
      totalTime = sequence[total-1].stop;
      pixel = parseInt(800/totalTime);
      containerWidth = pixel*totalTime + 2;
      $('#outer-div').css('width',containerWidth+'px');
      displayBlock(i);
    });
    });
</script>
